<a href="https://colab.research.google.com/github/j4ogabriel/Aulas-intinerario/blob/main/Aula_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var1 = int(input("Digite um inteiro"))
var2 = int(input("Digite outro inteiro"))

exp = var1 ** var2

print(exp)

Digite um inteiro6
Digite outro inteiro9
10077696

In [ ]:
var1 = int(input("Digite um inteiro"))
var2 = int(input("Digite outro inteiro"))

resto = var1 %  var2

print(resto)

Digite um inteiro9
Digite outro inteiro2
1

In [ ]:
a = 3
b = 4
c = a < b
d = a > b
e = a == b

print("Valor de c: ",c)
print("Valor de d:", d)
print("Valor de e:", e)

Valor de c:  True
Valor de d: False
Valor de e: False

In [ ]:
A = True
B = False
print("Valor de A and B", A and B)

Valor de A and B False

In [ ]:
A = True
B = False
print("Valor de A or B", A or B)

Valor de A or B True

In [ ]:
condicao = True
if not condicao: #true
  print("A condição é falsa")
else: #false
  print("A condição é verdadeira")

A condição é falsa

In [ ]:
var1 = int(input("insira um numero inteiro"))
if var1 >10 and var1 < 20:
  print("true")
else:
  print("false")

insira um numero inteiro20
false

In [ ]:
var1 = int(input("Insira sua idade"))
if var1 < 18:
  print("Você não tem idade para assistir esse filme")
else:
    print("Divirta-se!")

Insira sua idade22
Divirta-se!